@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    opacity: 0.8;
    background-image:  linear-gradient(#eee 1px, transparent 1px), linear-gradient(to right, #eee 1px, #fff 1px);
    background-size: 20px 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    padding: 15px 20px;
    width: 90%;
    max-width: 370px;
    text-align: center;
}

h1 {
    font-size: 35px;
    font-weight: 600;
    color: #333;
    margin-top: 0;
}

.data label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.data input {
    height: 45px;
    width: 100%;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background-color: #E6E6FF;
    color: #000;
    border-radius: 5px;
    border: 1px solid #E6E6FF;
    margin: 8px 0;
    box-sizing: border-box;
}

.data input:focus {
    border: 0.8px solid black;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 150px;
    width: 100%;
    border: none;
    outline: none;
    color: #f1f1f1;
    border-radius: 5px;
    margin: 25px auto;
    background-color: #6334BB;
    transition: all 0.1s linear;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
}

.submit:hover {
    background-color: #8771FF !important;
}